
.back {
  margin: math.div($space, 3) 0;
}

article.article.detail, article.page.detail {
  h1 {
    font-weight: 700;
  }

  h2, h3, h4, h5 {
    margin-top: math.div($space, 1.4);
  }

  table {
    width: 100%;
    margin-bottom: $paragraph-margin-bottom*2;
    border: 1px solid $gray-300;

    th, td {
      padding: 0.4rem;
    }

    tr {
      border: 1px solid $gray-300;
    }

    thead {
      th {
        background-color: $gray-200;
      }
    }
  }

  blockquote {
    margin: $paragraph-margin-bottom*2 $paragraph-margin-bottom;
    text-align: center;
    color: $gray-600;
    font-size: $font-size-base*1.2;
    @include media-breakpoint-up(md) {
      margin: $paragraph-margin-bottom*2;
    }
  }

  hr {
    margin: $paragraph-margin-bottom*2 0;
  }

  img {
    height: auto;
  }

  img, iframe, .twitter-tweet.twitter-tweet-rendered {
    max-width: 100%;
    display: block;
    margin: $paragraph-margin-bottom auto;
  }

  figure.cover {
    margin-bottom: $paragraph-margin-bottom*3;

    figcaption {
      font-size: math.div($font-size-base, 1.3);
      color: $gray-600;
      text-align: center;
      margin-top: math.div(-$paragraph-margin-bottom, 2);
    }

    img {
      @include media-breakpoint-up(lg) {
        width: 140%;
        max-width: 140%;
        margin: $paragraph-margin-bottom -20%;
      }
    }
  }

  ol, ul {
    margin-bottom: $paragraph-margin-bottom;

    li {
      margin-bottom: math.div($paragraph-margin-bottom, 2);
    }
  }

  .footnotes {
    font-size: math.div($font-size-base, 1.2);

    p {
      margin-bottom: math.div($paragraph-margin-bottom, 2);
    }
  }

  .gatsby-highlight-code-line {
    background-color: #feb;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #f99;
  }

  .gatsby-highlight {
    background-color: #000 !important;
    font-size: 0.9rem;
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 1em;
    overflow: auto;
  }

  .gatsby-highlight pre[class*="language-"] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left; /* 1 */
    min-width: 100%; /* 2 */
  }

  .gatsby-highlight pre[class*="language-"].line-numbers {
    padding-left: 2.8em;
  }
}

article.article.detail {
  margin: math.div($space, 6) 0 $space 0;

  header {
    text-align: center;
    margin-bottom: $space;
  }
}

article.page.detail {
  margin: $space 0;

  header {
    text-align: center;
    margin-bottom: math.div($space, 2);
  }
}
