header {
  padding-top: 20px;

  a {
    color: $black;

    &:hover {
      color: $black;
      text-decoration: underline;
    }

    h1 {
      float: left;
    }
  }

  .navbar {
    padding: 0;
  }
}

