header{
    padding-top: 20px;
    a{
        color: $black;
        &:hover {
            color: $black;
            text-decoration: underline;
        }
        h1{
            font-size: $font-size-base*1.2;
            float:left;
        }
      }
    .navbar{
        padding: 0;
    }
}

