header {
  padding-top: 20px;

  a {
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $green;
    }

    h1 {
      float: left;
    }
  }

  .navbar {
    padding: 0;
  }
}

